:root{

    --div--bg--color: lightgray;
}


body{

    font-family: "Amatic SC";
    font-size: 150%;
    text-transform: uppercase;

}

li{

    list-style: none;
    padding-bottom: 4%;
   
}

.activo{

    background-position: center;
    background-image: url('cthulhu.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color:green;
    
}

header{

    background: var(--div--bg--color);
   
}

.logo{

    font-weight: bold;
    color: black;   
    padding-left: 2%;
    padding-top: 2%;
}

article{
    margin-left: 4%;
    width: 55%;
}

.modulo{
    
   display: inline-block;
   width: 29%;
  
}

div:nth-child(even){

    background: var(--div--bg--color);
}

h2{
    font-size: 95%;
    text-align: center;
}




@media (min-width: 700px){


header{

    height: 100px;
}

ul{

    margin-left: 67%;
}


li{

    display: inline;
    margin:auto;
    padding: 3%;
}


.modulo{

    width:25%;
}

}


