:root{

    --bg--camino: black;
    --bg--body: gray;
    --font--style: Verdana;

    
}

html{

    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 38px; 
    color:red; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}


body{

    display: grid;
    justify-content: center;
    background: var(--bg--body);
    

}

#header{

    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 80px;
    margin-top: 2%;
}

#score{

    padding-top: 3%;
}

#lifes{

    padding-top: 11%;
}


.vidas{

    background-image: url("../img/sonicLife.png"); 
    background-size: 80% 80%; 
    background-repeat: no-repeat	
}

#mapa{

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 1200px;
    height: 700px;
    
}

.camino{

    background: var(--bg--camino);

}

.caminoPisado{

    background-image: url("../img/pisadas.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;

}


.columnaLlave{

    background-image: url("../img/key.gif");
    background-size: 100% 100%;
	background-color:black; 	
    background-blend-mode: lighten, normal;
    border: 1px solid gray;
    
}

.columnaPergamino{

    background-image: url("../img/ring.gif");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    border: 1px solid gray;
}

.columnaVillano{

    background-image: url("../img/eggman.gif");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    border: 1px solid gray;
}

.columnaEsmeralda{

    background-image: url("../img/esmeralda.gif");
    background-size: 100% 100%;
	background-color:black; 	
    background-blend-mode: lighten, normal;
    border: 1px solid gray;
    
}

.columnaNada{

   background-image: url("../img/negacion2.gif");
   background-size: 100% 100%;
	background-color:black; 	
    background-blend-mode: lighten, normal;
    border: 1px solid gray;
}


.columna{

    background-image: url("../img/muro.png");
   background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
   
}



.sonicStatic{

    background-image: url("../img/sonicStatic.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;

}

.sonicLeft{

    background-image: url("../img/sonicLeft.gif");
    background-size: 100% 100%;
	
    
} 

.sonicRight{

    background-image: url("../img/sonicRight.gif");
    background-size: 100% 100%;
	
    
} 

.sonicUp{

    background-image: url("../img/sonicUp.gif");
    background-size: 100% 100%;
	
    
} 

.sonicDown{

    background-image: url("../img/sonicDown.gif");
    background-size: 100% 100%;
	
    
} 
.eggmanStatic{

    background-image: url("../img/eggman.png");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanDown{

    background-image: url("../img/eggmanDown.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanUp{

    background-image: url("../img/eggmanUp.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanRight{

    background-image: url("../img/eggmanRight.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanLeft{

    background-image: url("../img/eggmanLeft.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}






