:root{

    --bg--camino: black;
    --bg--columna: #ffb833;
    --bg--columnaMarcada : red;
    
}


body{

    display: grid;
    justify-content: center;
}


#mapa{

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 1200px;
    height: 700px;
    
}

.camino{

    background: var(--bg--camino);

}


.caminoPisado{

    background-image: url("../img/pisadas.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;

}


.columna{

    background: var(--bg--columna);
   
}

.columnaLlave{

    background-image: url("../img/key.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.columnaPergamino{

    background-image: url("../img/ring.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.columnaVillano{

    background-image: url("../img/eggman.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.columnaEsmeralda{

    background-image: url("../img/esmeralda.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;
    
}



.columnaMarcada{


    background: var(--bg--columnaMarcada);
}


.sonicStatic{

    background-image: url("../img/sonicStatic.png");
    background-size: 100% 100%;
	background-color:black; 	
	background-blend-mode: lighten, normal;

}

.sonicLeft{

    background-image: url("../img/sonicLeft.gif");
    background-size: 100% 100%;
	
    
} 

.sonicRight{

    background-image: url("../img/sonicRight.gif");
    background-size: 100% 100%;
	
    
} 

.sonicUp{

    background-image: url("../img/sonicUp.gif");
    background-size: 100% 100%;
	
    
} 

.sonicDown{

    background-image: url("../img/sonicDown.gif");
    background-size: 100% 100%;
	
    
} 
.eggmanStatic{

    background-image: url("../img/eggman.png");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanDown{

    background-image: url("../img/eggmanDown.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanUp{

    background-image: url("../img/eggmanUp.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanRight{

    background-image: url("../img/eggmanRight.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}

.eggmanLeft{

    background-image: url("../img/eggmanLeft.gif");
    background-size: 100% 100%;
    background-color:black; 	
	background-blend-mode: lighten, normal;
    
}




