/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}

/*
* CSS for items
*/

content{

    width: 70%;
    height: 100%;
   
    
}

h1{
    text-align: center;
    color: white;
}

items{

display:flex;
flex-direction: column;
justify-content: center;


}

item{

   font-size: 1.7em;
   color:black;
   align-self: center;
   
}

/*
* CSS for body
*/

button{
    
   font-size: 1em;
   align-self: center;
   margin-bottom: 7%;
   background-color: blueviolet;
   border-radius: 4%;
   width: 900px;
}

button:hover {
    
    transform:scale(1.1);
}

button:active {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    
     display:grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 7%; 
     margin-left: 9%;
}


/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {

     transition-property: opacity;
     transition:opacity 2s linear;
     opacity:0;
 
}


.estabaEscondido{

    opacity: 1;
    
}

/*Progress*/
/*
* CSS for ProgressBars
*/
progress{

    border: 2px solid black;
   
}

.barra{

    animation: neon 5s linear infinite;
    background: #eb7260;


}


finalmsg{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

@keyframes neon {
 
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

