$header_Color:'';
$contenedorFalla_Color:'';
$logo_src: '';
$menu_src:'';

// chtulhu
// evilCorp
$company: evilCorp;

@if ($company == chtulhu) {
  $header_Color: #325935;
  $contenedorFalla_Color: #325935;
  $logo_src: "../img/cthulhu.jpg";
  $menu_src: "../img/hamburguesa.png";
} @else if ($company == evilCorp) {
  $header_Color: #bf214b;
  $contenedorFalla_Color: #bf214b;
  $logo_src: "../img/evilcorp.png";
  $menu_src: "../img/evilcorp.png";
}

header {
  border: 1px solid black;
  background: $header_Color;
  margin-bottom: 2%;
  color: white;

  #seleccionFalla {
    display: grid;
    grid-template-rows: 5fr 1fr;

    #logo {
      margin-left: 21%;
      background-image: url($logo_src);
      background-size: contain;
      background-repeat: no-repeat;
    }

    #hamburger{

      margin-top: 5%;
      height: 100%;
      position: relative;
      display: block;
      background-image: url($menu_src);
      background-size: contain;
      background-repeat: no-repeat;
    }

   }
}

#fichasFallas {
  display: grid;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .contenedorFalla {
    margin: auto;
    border: 3px ridge black;
    box-shadow: 5px 5px 5px rgb(95, 94, 94);
    margin-bottom: 5%;
    position: relative;
    background: $contenedorFalla_Color;
    .contenedorImg {
      width: 360px;
      height: 450px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .nombreFalla {
      font-family: fantasy;
      text-align: center;
    }

    .contenedorMetadatos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 5%;

      button {
        width: 130px;
        height: 50px;
        margin: auto;
        box-shadow: 0px 1px 0px 0px #fff6af;
        background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
        background-color: #ffec64;
        border-radius: 6px;
        border: 1px solid #ffaa22;
        display: inline-block;
        cursor: pointer;
        color: #333333;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffee66;
      }

      .contenedorPuntuacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          width: 110px;
          height: 35px;
          margin: auto;
          box-shadow: 0px 1px 0px 0px #e7bfb7;
          background: linear-gradient(to bottom, #f36c4f 5%, #f62b00 100%);
          background-color: red;
          border-radius: 6px;
          border: 1px solid #f62b00;
          display: inline-block;
          cursor: pointer;
          color: #333333;
          font-family: Arial;
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
        }

        button:hover {
          background: linear-gradient(to bottom, #f62b00 5%, #f36c4f 100%);
          background-color: red;
        }
      }

      button:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
      }

      form {
        margin-left: 11%;
      }
      .puntuacion {
        /*La propiedad direction: rtl; cambia la dirección de escritura  de 
        derecha a izquierda ( right to left )*/
        direction: rtl; /* right to left */
        /*Se utiliza junto con la propiedad direction para cambiar  la dirección 
        del texto */
        unicode-bidi: bidi-override; /* bidi de bidireccional*/
      }

      .unchecked {
        color: grey;
      }

      input {
        display: none;
      }

      input:checked ~ label {
        color: orange;
      }

      label {
        color: grey;
        font-size: 2em;
      }

      label:hover {
        color: orange;
      }

      label:hover ~ label {
        color: orange;
      }
    }
  }

  .resaltado {
    border: 5px solid orange;
  }
}

.noVisible{
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


  #fullScreen {
    height: 1080px;
    width: 499px;
    background: grey;
    opacity: 0.9;
    position: absolute;

    #map {
      width: 300px;
      height: 500px;
      box-shadow: 5px 5px 5px #888;
      margin-top: 8%;
      margin-left: auto;
      margin-right: auto;
    }

    i {
      margin-left: 48%;
      margin-top: 11%;
      font-size: 45px;
    }
  }


@media (min-width: 500px) {

  header{

    z-index: 1;

  #seleccionFalla {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0fr 6fr;

    #form{
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-right: 20%;

      p{
        margin-top:2%;
      }

      #botonesSecciones{
        margin-top:1%;
      }
    }

    #logo {
      margin-left: 0%;
     
    }
    #hamburger{

      display: none;
      
    }
   }
  }
  .noVisible{
    display: block;
  }

  #seleccionFalla {
    display: grid;
    grid-template-columns: 1fr 5fr;

    #logo {
      background-image: url($logo_src);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  #fichasFallas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #fullScreen {
    height: 1080px;
    width: 1920px;
    background: grey;
    opacity: 0.9;
    position: absolute;

    #map {
      width: 55%;
      height: 45%;
      margin-top: 1%;
     
    }

    i {
      margin-left: 50%;
      margin-top: 9%;
      font-size: 45px;
    }
  }

}
