@charset "UTF-8";
header {
  border: 1px solid black;
  background: #325935;
  margin-bottom: 2%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#seleccionFalla {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
#seleccionFalla #logo {
  background-image: url("../img/cthulhu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#fichasFallas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#fichasFallas .contenedorFalla {
  margin: auto;
  border: 3px ridge black;
  box-shadow: 5px 5px 5px #5f5e5e;
  margin-bottom: 5%;
  position: relative;
  background: #b4d9b6;
}
#fichasFallas .contenedorFalla .contenedorImg {
  width: 360px;
  height: 450px;
}
#fichasFallas .contenedorFalla .contenedorImg img {
  width: 100%;
  height: 100%;
}
#fichasFallas .contenedorFalla .nombreFalla {
  font-family: fantasy;
  text-align: center;
}
#fichasFallas .contenedorFalla .contenedorMetadatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}
#fichasFallas .contenedorFalla .contenedorMetadatos button {
  width: 130px;
  height: 50px;
  margin: auto;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
#fichasFallas .contenedorFalla .contenedorMetadatos .contenedorPuntuacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#fichasFallas .contenedorFalla .contenedorMetadatos .contenedorPuntuacion button {
  width: 110px;
  height: 35px;
  margin: auto;
  box-shadow: 0px 1px 0px 0px #e7bfb7;
  background: linear-gradient(to bottom, #f36c4f 5%, #f62b00 100%);
  background-color: red;
  border-radius: 6px;
  border: 1px solid #f62b00;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
#fichasFallas .contenedorFalla .contenedorMetadatos .contenedorPuntuacion button:hover {
  background: linear-gradient(to bottom, #f62b00 5%, #f36c4f 100%);
  background-color: red;
}
#fichasFallas .contenedorFalla .contenedorMetadatos button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
#fichasFallas .contenedorFalla .contenedorMetadatos form {
  margin-left: 11%;
}
#fichasFallas .contenedorFalla .contenedorMetadatos .puntuacion {
  /*La propiedad direction: rtl; cambia la dirección de escritura  de 
  derecha a izquierda ( right to left )*/
  direction: rtl;
  /* right to left */
  /*Se utiliza junto con la propiedad direction para cambiar  la dirección 
  del texto */
  unicode-bidi: bidi-override;
  /* bidi de bidireccional*/
}
#fichasFallas .contenedorFalla .contenedorMetadatos .unchecked {
  color: grey;
}
#fichasFallas .contenedorFalla .contenedorMetadatos input {
  display: none;
}
#fichasFallas .contenedorFalla .contenedorMetadatos input:checked ~ label {
  color: orange;
}
#fichasFallas .contenedorFalla .contenedorMetadatos label {
  color: grey;
  font-size: 2em;
}
#fichasFallas .contenedorFalla .contenedorMetadatos label:hover {
  color: orange;
}
#fichasFallas .contenedorFalla .contenedorMetadatos label:hover ~ label {
  color: orange;
}
#fichasFallas #fullScreen {
  height: 1080px;
  width: 499px;
  background: grey;
  opacity: 0.9;
  position: absolute;
}
#fichasFallas #fullScreen #map {
  width: 200px;
  height: 300px;
  box-shadow: 5px 5px 5px #888;
  margin: 0 auto;
}
@media (min-width: 500px) {
  #fichasFallas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #fullScreen {
    height: 1080px;
    width: 1920px;
    background: grey;
    opacity: 0.9;
    position: absolute;
  }
  #fullScreen #map {
    width: 500px;
    height: 600px;
    box-shadow: 5px 5px 5px #888;
    margin: 0 auto;
  }
  #fullScreen i {
    margin-left: 63%;
    font-size: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
