#header{

    width: 1020px;
    height: 230px;
    background-image: url('assets/img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px auto;

}

#form{
    
    width: 15%;
    margin: 0px auto;
  

    input{

        width: 100%;
        
    }
}

