#header{

    margin: 0px auto;
    height: 300px;
    width:1020px ;
    background-image: url('assets/img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;

}

#form {
   
    margin-left: 40%;
}

#form button{
    margin:1%;
}